<section class="section advantages-section">
    <div class="container">
      <h2 lang="en" class="visually-hidden">Ice-cream advantages</h2>
      <ul class="advantages">
        <li class="advantages__list advantages-first">
          <h3 class="advantages__name">721</h3>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__list advantages-second">
          <h3 lang="en" class="advantages__name">16kg</h3>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
        <li class="advantages__list advantages-third">
          <h3 class="advantages__name">84</h3>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </section>