<section class="contacts" id="contact">
    <div class="container">
      <h2 lang="en" class="visually-hidden">Contacts</h2>
      <ul class="contacts__list">
        <li class="contacts__item">
          <span lang="en" class="contacts__category">Cafe</span>
  
          <p lang="en" class="contacts__city">Chicago</p>
          <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  
          <ul class="contacts__work-schedule">
            <li class="contacts__weekdays">
              <p lang="en" class="contacts__work-day">Monday - Friday</p>
              <p lang="en" class="contacts__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__weekends">
              <p lang="en" class="contacts__work-day">Saturday - Sunday</p>
              <p lang="en" class="contacts__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__tel-mail">
            <li class="contacts__tel-mail-item">
              <a href="tel:+610383766284" class="contacts__tel">+61(0) 383 766 284</a>
            </li>
            <li class="contacts__tel-mail-item">
              <a lang="en" href="mailto:noreply@envato.com" class="contacts__mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="contacts__item">
          <span lang="en" class="contacts__category contacts__category-foodtruck">Foodtruck</span>
  
          <p lang="en" class="contacts__city">Los Angeles</p>
          <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  
          <ul class="contacts__work-schedule">
            <li class="contacts__weekdays">
              <p lang="en" class="contacts__work-day">Monday - Friday</p>
              <p lang="en" class="contacts__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__weekends">
              <p lang="en" class="contacts__work-day">Saturday - Sunday</p>
              <p lang="en" class="contacts__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__tel-mail">
            <li class="contacts__tel-mail-list">
              <a href="tel:+610383766284" class="contacts__tel">+61(0) 383 766 284</a>
            </li>
            <li>
              <a lang="en" href="mailto:noreply@envato.com" class="contacts__mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
  
        <li class="contacts__item">
          <span lang="en" class="contacts__category">Cafe</span>
  
          <p lang="en" class="contacts__city">New York</p>
          <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
  
          <ul class="contacts__work-schedule">
            <li class="contacts__weekdays">
              <p lang="en" class="contacts__work-day">Monday - Friday</p>
              <p lang="en" class="contacts__work-time">06:00 AM - 10:00 PM</p>
            </li>
            <li class="contacts__weekends">
              <p lang="en" class="contacts__work-day">Saturday - Sunday</p>
              <p lang="en" class="contacts__work-time">08:00 AM - 16:00 PM</p>
            </li>
          </ul>
          <ul class="contacts__tel-mail">
            <li class="contacts__tel-mail-list">
              <a href="tel:+610383766284" class="contacts__tel">+61(0) 383 766 284</a>
            </li>
            <li>
              <a lang="en" href="mailto:noreply@envato.com" class="contacts__mail"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <div class="contacts__buttons">
        <button lang="en" data-locations-open type="button" class="contacts__location">
          Our Locations
          <svg class="icon-loc" width="10" height="20">
            <use href="images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <button lang="en" data-franchise-open type="button" class="contacts__franchise">
          Franchise
          <svg class="icon-fr" width="10" height="20">
            <use href="images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </section>
  
  <div data-locations class="locations__backdrop is-hidden">
    <div class="locations__modal">
      <button data-locations-close class="locations__close">X</button>
      <ul class="locations__list">
        <li class="locations__item">
          <p lang="en" class="locations__text">Our cafee in Chicago</p>
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21174.687296359403!2d-87.67098443590642!3d41.8719334683507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cbee269fbbb%3A0x10f6dce5eb88c7d!2z0KPQuNC70LvQuNGBLdGC0LDRg9GN0YA!5e0!3m2!1sru!2sua!4v1633873039004!5m2!1sru!2sua"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
        <li class="locations__item">
          <p lang="en" class="locations__text">Our foodtruck in Los Angeles</p>
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3304.370287003725!2d-118.2216189854525!3d34.08565338059679!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7dcc81dfb45%3A0x7180953de298c49b!2sIce%20Cream%20Occasions!5e0!3m2!1sru!2sua!4v1633873988888!5m2!1sru!2sua"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
        <li class="locations__item">
          <p lang="en" class="locations__text">Our cafee in New York</p>
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.0927736587005!2d-73.95787718464732!3d40.6939543793337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25b2a4fd39a27%3A0x598d4925e5bb1cf8!2sIce%20Cream%20House!5e0!3m2!1sru!2sua!4v1633873870856!5m2!1sru!2sua"
            width="300"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </li>
      </ul>
    </div>
  </div>
  <div data-franchise class="franchise__backdrop is-hidden">
    <div class="franchise__modal">
      <button data-franchise-close class="franchise__close">X</button>
      <p lang="en" class="franchise__text">
        Want to know more about our franchise? Leave your phone number here and we will call you!
      </p>
      <form class="franchise__formfield">
        <input type="text" name="tel" id="tel" class="franchise__input" placeholder="+380000000000" />
  
        <button lang="en" type="submit" class="franchise__btn">Call me!</button>
      </form>
    </div>
  </div>