<section class="section-customer-reviews" id="customer-reviews">
    <div class="container">
      <h2 lang="en" class="visually-hidden">Customer Reviews</h2>
      <div class="slider">
        <div class="slider__item">
          <picture>
            <source
              srcset="./images/desktop/face1-1x.png 1x, ./images/desktop/face1-2x.png 2x"
              media="(min-width:320px)"
            />
            <img src="./images/desktop/face1-1x.png" alt="commentator avatar" class="slider__img" />
          </picture>
          <div class="comment">
            <div class="comment-box">
              <p class="comment-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 lang="en" class="slider__title">Emily, Los Angeles</h3>

        </div>
  
        <div class="slider__item">
          <picture>
            <source
              srcset="./images/desktop/face2-1x.png 1x, ./images/desktop/face2-2x.png 2x"
              media="(min-width:320px)"
            />
            <img src="./images/desktop/face2-1x.png" alt="commentator avatar" class="slider__img" />
          </picture>
          <div class="comment">
            <div class="comment-box">
              <p class="comment-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 lang="en" class="slider__title">Jessica, Chicago</h3>
        </div>
  
        <div class="slider__item">
          <picture>
            <source
              srcset="./images/desktop/face3-1x.png 1x, ./images/desktop/face3-2x.png 2x"
              media="(min-width:320px)"
            />
            <img src="./images/desktop/face3-1x.png" alt="commentator avatar" class="slider__img" />
          </picture>
          <div class="comment">
            <div class="comment-box">
              <p class="comment-text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 lang="en" class="slider__title">Kelly, New York</h3>
        </div>
      </div>
    </div>
  </section>