<footer>
    <div class="container-footer">
      <div class="container">
        <div class="footer-middle">
          <div class="footer-left">
            <p lang="en" class="footer__before-text" lang="en">
              HOMEMADE ICE CREAM MADE <br />
              <span lang="en" class="footer__title" lang="en"> WITH PASSION </span>
            </p>
          </div>
  
          <div class="footer-right">
            <ul class="footer__socials">
              <li class="footer__socials-item">
                <a href="/" class="footer__socials-link">
                  <svg class="footer__socials-icon" width="20" height="20">
                    <use href="./images/sprite.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
              <li class="footer__socials-item">
                <a href="" class="footer__socials-link">
                  <svg class="footer__socials-icon" width="20" height="16">
                    <use href="./images/sprite.svg#icon-telegram"></use>
                  </svg>
                </a>
              </li>
              <li class="footer__socials-item">
                <a href="" class="footer__socials-link">
                  <svg class="footer__socials-icon" width="10" height="20">
                    <use lang="en" href="./images/sprite.svg#icon-facebook">facebook</use>
                  </svg>
                </a>
              </li>
            </ul>
  
            <p lang="en" class="footer__text" lang="en">
              Feel free to contact
              <a class="contacts__link" href="tel:+610383766284"> +61 (0) 383 766 284 </a>
            </p>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p lang="en" class="footer__text-rights" lang="en">&copy; 2019 - IceCream.</p>
        <p lang="en" class="footer__text-rights" lang="en">All Rights reserved</p>
      </div>
    </div>
  </footer>