<header class="page-header page-header--background">
    <div class="container container--flex">
      <nav class="navigation">
        <a class="page-header__logo" href="#">
          <img
            srcset="./images/mobile/logo-1x.png 1x, ./images/mobile/logo-2x.png 2x"
            src="./images/mobile/logo-1x.png"
            alt="Логотип"
          />
        </a>
        <ul class="menu">
          <li class="menu__item">
            <a lang="en" class="menu__link menu__link--current" href="#">Home</a>
          </li>
          <li class="menu__item">
            <a lang="en" class="menu__link" href="#customer-reviews">About us</a>
          </li>
          <li class="menu__item">
            <a lang="en" class="menu__link" href="#about">How it’s made?</a>
          </li>
          <li class="menu__item">
            <a lang="en" class="menu__link" href="#products">Our products</a>
          </li>
          <li class="menu__item">
            <a lang="en" class="menu__link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="mob-menu" type="button" data-mobile-menu-open>
        <svg class="mob-menu__icon" width="20" height="12">
          <use href="./images/sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <button lang="en" class="button-buy" data-modal-open type="button">
        Buy now
        <svg class="button-buy__icon" width="10" height="10">
          <use href="./images/sprite.svg#icon-arrow-buy"></use>
        </svg>
      </button>
       <!-- Мобильное меню -->
  
       <div class="mobile-menu" data-mobile-menu>
        <button class="mobile-menu__button-close" data-mobile-menu-close>
          <svg class="mobile-menu__icon-close" width="14" height="14">
            <use href="./images/sprite.svg#icon-close-2"></use>
          </svg>
        </button>
        <button lang="en" class="mobile-menu__button" type="submit">
          Buy now
          <svg class="mobile-menu__icon" width="12" height="20">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
        <ul class="mobile-menu__list">
          <li class="mobile-menu__item">
            <a lang="en" class="mobile-menu__link" href="">Home</a>
          </li>
          <li class="mobile-menu__item">
            <a lang="en" class="mobile-menu__link" href="#about">About us</a>
          </li>
          <li class="mobile-menu__item">
            <a lang="en" class="mobile-menu__link" href="#about">How it’s made?</a>
          </li>
          <li class="mobile-menu__item">
            <a lang="en" class="mobile-menu__link" href="#products">Our products</a>
          </li>
          <li class="mobile-menu__item">
            <a lang="en" class="mobile-menu__link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Кнопка Домой -->
    <a class="home" href="#"></a>
  </header>
  <!-- Секция Герой -->
  <section class="hero hero--background">
    <div class="container container--absolute">
      <picture>
        <source
          srcset="./images/desktop/Ellipse3-1x.png 1x, ./images/desktop/Ellipse3-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/Ellipse3-1x.png 1x, ./images/tablet/Ellipse3-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/mobile/Ellipse3-1x.png 1x, ./images/mobile/Ellipse3-2x.png 2x"
          media="(max-width: 767px)"
        />
        <img class="wrap-ellipse" srcset="./images/mobile/Ellipse3-1x.png 1x, ./images/mobile/Ellipse3-2x.png 2x"  src="./images/mobile/Ellipse3-1x.png" alt="Круг" />
      </picture>
      <picture>
        <source
          srcset="./images/desktop/ice-cream-1x.png 1x, ./images/desktop/ice-cream-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/ice-cream-1x.png 1x, ./images/tablet/ice-cream-2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/mobile/ice-cream-1x.png 1x, ./images/mobile/ice-cream-2x.png 2x"
          media="(max-width: 767px)"
        />
        <img
          class="wrap-ice animate__animated animate__tada animate__delay-1s"
          src="./images/mobile/ice-cream-1x.png"
          alt="Мороженое"
        />
      </picture>
      <picture>
        <source
          srcset="./images/desktop/number16-1x.png 1x, ./images/desktop/number16-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/number16-1x.png 1x, ./images/tablet/number16-2x.png 2x"
          media="(min-width: 768px)"
        />
        <img class="wrap-number-small" src="./images/tablet/number16-1x.png" alt="Число 16" />
      </picture>
      <picture>
        <source
          srcset="./images/desktop/number23-1x.png 1x, ./images/desktop/number23-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/number23-1x.png 1x, ./images/tablet/number23-2x.png 2x"
          media="(min-width: 768px)"
        />
        <img class="wrap-number-big" src="./images/tablet/number23-1x.png" alt="Число 23" />
      </picture>
      <picture>
        <source
          srcset="./images/desktop/girl-1x.png 1x, ./images/desktop/girl-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/girl-1x-min.png 1x, ./images/tablet/girl-2x.png 2x"
          media="(min-width: 768px)"
        />
        <img
          class="wrap-girl animate__animated animate__delay-2s animate__swing animate__slower"
          src="./images/tablet/girl-1x-min.png"
          alt="Девушка ест мороженое"
        />
      </picture>
      <picture>
        <source
          srcset="./images/desktop/milk-1x.png 1x, ./images/desktop/milk-2x.png 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./images/tablet/milk-1x.png 1x, ./images/tablet/milk-2x.png 2x"
          media="(min-width: 768px)"
        />
        <img
          class="
            wrap-milk
            animate__animated animate__swing animate__delay-3s animate__slow animate__infinite
            infinite
          "
          src="./images/tablet/milk-1x.png"
          alt="Молоко в кувшине"
        />
      </picture>
      <p class="wrap-milk__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button class="button-slider" type="button">
        <svg class="button-slider__icon" width="8" height="7">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <h1 lang="en" class="hero__title">
        ice cream made with <span class="hero__title--size">passion</span>
      </h1>
      <ul class="button">
        <li class="button__item">
          <a lang="en" class="button__link button__link--pink" href="#products">Products</a>
        </li>
        <li class="button__item">
          <a lang="en" class="button__link button__link--white" href="#about">How it’s made?</a>
        </li>
      </ul>
    </div>
  </section>