<section class="products-section" id="products">
    <div class="container">
      <div class="products">
        <p lang="en" class="products-subtitle">100% natural</p>
        <h2 lang="en" class="products-caption">products</h2>
        <ul class="products-list">
          <li class="products-link ice">
            <h3 lang="en" class="products-link-title">ice cream</h3>
            <p class="products-link-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products-button" type="button" data-modal-open-products>
              <svg class="products-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
  
          <li class="products-link coffee">
            <h3 lang="en" class="products-link-title">ice coffee</h3>
            <p class="products-link-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products-button" type="button" data-modal-open-products-2>
              <svg class="products-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
  
          <li class="products-link milkshakes">
            <h3 lang="en" class="products-link-title">milkshakes</h3>
            <p class="products-link-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et
            </p>
            <button class="products-button" type="button" data-modal-open-products-3>
              <svg class="products-icon" width="15" height="15">
                <use href="./images/sprite.svg#icon-arrow"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </section>