.section-customer-reviews {
    padding-top: 40px;
    padding-bottom: 43px;
  
    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }
  
  .slider__img {
    width: 85px;
    height: 85px;
    margin-left: auto;
    margin-bottom: 29px;
    margin-right: auto;
  
    border-radius: 50%;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 19px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-bottom: 15px;
    }
  }
  
  .comment {
    position: relative;
  
    margin-bottom: 30px;
    padding: 43px 50px 15px 50px;
  
    background-color: #fafafa;
  
    @media screen and (min-width: 768px) {
      max-width: 620px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 52px;
    }
  
    @media screen and (min-width: 1280px) {
      max-width: 926px;
      margin-bottom: 15px;
    }
  
    &::before {
      content: '';
  
      position: absolute;
      top: 28px;
      left: 61px;
      z-index: 1;
  
      display: block;
  
      height: 40px;
      width: 54px;
  
      background-image: url('../images/desktop/customer-reviews-logo3.svg');
  
      @media screen and (min-width: 768px) {
        top: 30px;
        left: 40px;
      }
  
      @media screen and (min-width: 1280px) {
        top: 32px;
        left: 50px;
      }
    }
  }
  
  .comment-box {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 2px;
  
    background-image: repeating-linear-gradient(
      to bottom,
      transparent,
      transparent 29px,
      #c4c4c4c5 30.5px
    );
  }
  
  .comment-text {
    position: relative;
    z-index: 2;
  
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;
    text-align: center;
    color: $primary-color;
  
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: calc(30 / 14);
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  }
  
  .slider__title {
    margin-bottom: 22px;
  
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26 / 14);
    text-align: center;
    color: #000000;
  
    @media screen and (min-width: 768px) {
      margin-bottom: 35px;
  
      font-size: 16px;
      line-height: calc(30 / 16);
    }
  
    @media screen and (min-width: 1280px) {
      font-size: 20px;
      line-height: calc(37 / 20);
    }
  
    &::before {
      content: '';
  
      display: block;
  
      height: 4px;
      margin-bottom: 18px;
  
      background-image: url('../images/desktop/customer-reviews-logo1.svg');
      background-repeat: no-repeat;
      background-position-x: center;
  
      @media screen and (min-width: 768px) {
        margin-bottom: 14px;
      }
  
      @media screen and (min-width: 1280px) {
        margin-bottom: 15px;
      }
    }
  }