.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: opacity 350ms linear, visibility 350ms linear;
    background-color: rgba(0, 0, 0, 0.2);
    
  }
  
  /* При добавлении класса is-hidden Бэкдроп скрывается */
  .backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    max-width: 528px;
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    transition: transform 500ms linear, opacity 500ms linear, visibility 500ms linear;
    padding: 40px 40px 0 40px;
  
    background-color: #ffeefb;
    // background-image: url(../images/ice-cream-2x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 100px top 125px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
  
  @media screen and (max-width: 1279px) {
    .modal {
      z-index: 100;
      max-width: 450px;
    //   background-image: url(../images/ice-cream_1x.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left 80px top 110px;
    }
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -150%) scale(0) rotate(0deg);
    visibility: hidden;
    opacity: 0;
  }
  
  /* Кнопка для закрытия модального окна */
  .modal__btn {
    position: absolute;
    top: 8px;
    right: 8px;
  
    display: flex;
    width: 30px;
    height: 30px;
    padding: 0;
    justify-content: center;
    align-items: center;
  
    color: #000000;
  
    background-color: unset;
    border: unset;
    border-radius: 50%;
    cursor: pointer;
    transition: color 250ms linear;
  }
  
  .modal__btn:hover,
  .modal__btn:focus {
    color: rgb(224, 18, 138);
    outline: none;
  }
  
  /* Наследование кнопкой цвета */
  .modal__icon {
    fill: currentColor;
  }
  
  /* Флекс на всю форму */
  .modal-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  /* Флекс на отдельные блоки формы */
  .modal-form__field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  /* Последний отступ меджу текст ариа и чекбоксом */
  .modal-form__field:nth-child(4) {
    margin-bottom: 20px;
  }
  
  /* Текст над формой */
  .modal__text {
    margin-bottom: 12px;
    text-align: center;
    color: #ff376e;
  
    font-size: 35px;
    font-weight: 700;
    line-height: 1.15;
  }
  
  @media screen and (max-width: 1279px) {
    .modal__text {
      font-size: 25px;
      font-weight: 700;
      line-height: 1.2;
    }
  }
  
  /* Стили к лэйблам */
  .modal-form__label {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #000;
  }
  
  /* Стили к инпутам */
  .modal-form__input {
    width: 100%;
    padding: 10px 42px;
    min-height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms linear;
  }
  
  .modal-form__input::placeholder {
    font-size: 12px;
  }
  
  .modal-form__input:focus {
    border-color: rgb(224, 18, 138);
    outline: none;
  }
  
  /* Задание относительного позиционирования для иконок */
  .modal-form__wrapper {
    position: relative;
  }
  
  /* Позиционирование иконок в инпутах */
  .modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
    transition: color 250ms linear;
  }
  
  .modal-form__input:focus + .modal-form__icon {
    color: rgb(224, 18, 138);
  }
  
  /* Стили к текстариа */
  .modal-form__text {
    padding: 12px 16px;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms linear;
  }
  
  .modal-form__text:focus {
    border-color: rgb(224, 18, 138);
    outline: none;
  }
  
  .modal-form__text::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  
  /* Стили к сылке в соглашении */
  .modal-form__link {
    color: rgb(224, 18, 138);
    text-decoration-line: underline;
    margin-left: 3px;
  }
  
  /* Стили к кнопке закрытия модального окна */
  .modal-form__btn {
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
  
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #ffffff;
  
    background-color: rgb(243, 24, 152);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
  
    transition: background-color 300ms linear;
  }
  
  .modal-form__btn:hover,
  .modal-form__btn:focus {
    background-color: #c7133e;
  }